.project-view {
  @include _(limited-full-width);



  .page-title {
    border-top: solid 6px $daintree;
    margin: 0 25px;
    padding: 36px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .article-title {
    color: $tiffany;
    font-size: 18px;
    margin: 16px 0;
    line-height: 26px;
  }

  .article-paragraph {
    padding-left: 8px;
    line-height: 24px;
  }


}
