<div class="title-wrapper">
  <h1 class="page-title">{{t 'documentsTitle'}}</h1>
</div>

<section id="documents-list" class="documents-list">
    <div id="documents-presentations" class="documents-list-section large">
      {{!--{{{view "components/spinner"}}}--}}
    </div>

    <div id="documents-reports" class="documents-list-section">
      {{!--{{{view "components/spinner"}}}--}}
    </div>

    <div id="documents-theory" class="documents-list-section">
      {{!--{{{view "components/spinner"}}}--}}
    </div>
</section>
